* text=auto eol=lf

.gitattributes text eol=lf
.editorconfig text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf

*.dll binary
*.exe binary
*.pdb binary
*.dmp binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
